body .alert-info, body .alert-success {
  background-color: #e0ebf9;
  border-color: #e0ebf9;
  color: #1bbc9b;
}

body .alert-success.meeting-note{
  background-color: #fff;
  border-color: #fff;
  color: #666;
}

body .breadcrumb {
  color: #8E8F93;
}

body .forgotpassword .form-title, body .forgotpassword .form-subtitle {
  color: #333333;
}

body .forgotpassword .btn-cancel {
  background-color: #8E8F93;
  color: #ffffff !important;
  border: 1px solid #8E8F93;
}

body .logo img {
  height: 100px;
}

.page-sidebar-closed-hide-logo .page-logo a {
  display: inherit;
}

.page-sidebar-closed-hide-logo.page-sidebar-closed .page-logo a {
  display: none;
}
.collapse-sec{background-image: url("/assets/global/img/portlet-expand-icon-white.png"); width: 14px}
.collapse-sec.collapsed{background-image: url("/assets/global/img/portlet-collapse-icon-white.png");}
.media.replyoncomment, .media.replyoncomment .media-body{overflow: visible}
.drugtypeselect .custom-select a span{width:120px}
.industryselect .custom-select a span{width:220px}
.modal-custom-heading{font-weight: 500; color: #16997E}
#loader {
  display:    none;
  position:   fixed;
  z-index:    1000;
  top:        0;
  left:       0;
  height:     100%;
  width:      100%;
  background: rgba( 255, 255, 255, .8 )
  url('../images/loading.gif')
  50% 50%
  no-repeat;
}
.table-checkable tr > th:first-child, .table-checkable tr > td:first-child{
  word-wrap: break-word;
}
@media (max-width: 767px) {
  .login .pull-right {
    float: none !important;
    clear: both;
  }
  body .logo img {
    width: 100%;
    height: auto;
  }
}
.stateReginolhidden{display:none;}
.fa.fa-circle.enable {
    color: green;
}
.fa.fa-circle.disabled {
    color: red;
}
.highcharts-credits {
    display: none;
}