body .alert-info, body .alert-success {
  background-color: #e0ebf9;
  border-color: #e0ebf9;
  color: #1bbc9b;
}

body .breadcrumb {
  color: #8E8F93;
}

body .forgotpassword .form-title, body .forgotpassword .form-subtitle {
  color: #333333;
}

body .forgotpassword .btn-cancel {
  background-color: #8E8F93;
  color: #ffffff !important;
  border: 1px solid #8E8F93;
}

body .logo img {
  height: 100px;
}

.page-sidebar-closed-hide-logo .page-logo a {
  display: inherit;
}

.page-sidebar-closed-hide-logo.page-sidebar-closed .page-logo a {
  display: none;
}

@media (max-width: 767px) {
  .login .pull-right {
    float: none !important;
    clear: both;
  }
  body .logo img {
    width: 100%;
    height: auto;
  }
}

